<div class="hvac-settings-container">
    <h2>HVAC-SETTINGS</h2>
  
    <div class="form-group">
      <label for="setpoint">SETPOINT :</label>
      <input type="number" id="setpoint" [(ngModel)]="setpoint" class="input-field" min="-20" max="40" required>
    </div>
  
    <div class="form-group">
      <label for="mode">MODE :</label>
      <mat-form-field appearance="outline">
        <mat-label style="color: black;">Select Mode</mat-label>
        <mat-select [(ngModel)]="modes" id="mode">
          <mat-option value="HEATING">heating</mat-option>
          <mat-option value="COOLING">cooling</mat-option>
          <mat-option value="NO_MODE">off</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <label for="fanMode">Fan Control :</label>
      <mat-form-field appearance="outline">
        <mat-label style="color: black;">Select Mode</mat-label>
        <mat-select [(ngModel)]="fanModes" id="fanMode">
          <mat-option value="HIGH">high</mat-option>
          <mat-option value="MEDIUM">medium</mat-option>
          <mat-option value="LOW">low</mat-option>
          <mat-option value="AUTO">auto</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="form-group">
      <label for="status">STATUS :</label>
      <mat-checkbox id="status" [(ngModel)]="isOn"></mat-checkbox>
    </div>
  </div>