.formContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rows-int
{
    display: flex;
    column-gap: 10px;
}

#resultContainer p
{
    background-color: #e2dddd;
    border : 5px solid black;
    border-radius: 5%;
}

#result
{
    background-color: #e2dddd;
    border : 5px solid black;
    border-radius: 5%;  
}