<h1>
{{title}}
</h1>
<app-weather-room></app-weather-room>

<div id="formButtonsAndManagement">
    <h2>Quick guide for selected simulation type ({{ sim_type == 0 ? 'programmed' : 'Real time' }}) : <br></h2>
    <p>
    <span *ngIf="sim_type == 0">
        User is required to declare a programmed functioning for the system, including the intervals (via date) and the modes of functioning with the desired temperature.<br>
        The dates must be inserted in order, and the system will follow the programmed functioning until the last date is reached.<br>
        Once started the simulation cannot be interrupted or modified, the system will follow the programmed functioning until the last date is reached.<br>
        - Add row button : adds a new date for simulation to reach with new parameters.<br>
        - Remove row button : removes a programmed simulation step.<br>
    </span>
    <span *ngIf="sim_type == 1">
        This type of simulation generates data in real time, therefore programmed instructions are not needed.<br>
        The simulation can be interrupted by the user anytime.<br>
        Parameters of the system can be modified (more specifically setpoint,mode and status) using the box underneath as it is thought to be used a remote.<br>
        Before starting the simulation, the user must set the parameters of the system. After simulation has started use the submit button again to change the behavior to accomodate the desired inputs.<br>
        
    </span>
    - Submit button : Starts the simulation.<br>
    - Show graph is still under development and does not work in this version of the code.<br>
    <span *ngIf="sim_type == 1">
        - Interrupt button : Stops the simulation.<br>
        Keep in mind that Heating mode only works if the setpoint temperature is higher than outside temperature, and Cooling mode only works if the setpoint temperature is lower than outside temperature,<br>
        Otherwise the system will be set inactive.<br>
    </span>
    </p>
    <div class="formContainer" id="resultContainer">
        <app-hvac-realtime-form [style.display]="sim_type == 1 ? 'initial' : 'none'"></app-hvac-realtime-form>
        <button mat-raised-button (click)="manageSubmit()" [style.display]="(sim_type==1) ? 'initial' : 'none'" style="margin-top: 5px;">Submit</button> 
    </div>
    <div class="rows-int">
        <button mat-raised-button (click)="AddFormRow()" id="addRowButton" [style.display]="sim_type == 0 ? 'initial' : 'none'">Add Row</button>
        <button mat-raised-button (click)="RemoveFormRow()" id="removeRowButton" [style.display]="sim_type == 0 ? 'initial' : 'none'">Remove Row</button>
        <button mat-raised-button (click)="showGraph()">Show graph</button>
        <button mat-raised-button (click)="interruptSim()" [style.display]="sim_type == 1 ? 'initial' : 'none'">interrupt</button>
    </div>
</div>
<div id = "submitAndDownloadDiv">
    <button mat-raised-button (click)="manageSubmit()" [style.display]="(userFormComponents.length >= 2) ? 'initial' : 'none'">Submit</button>    
</div>
<div id="graph" style="display: none;">
</div>
<app-anomaly [sim_type]="sim_type"></app-anomaly>